body {
    background-size: 100%;
    background-color: #b9bbbe90;
    background-image: url(../../imagens/Homepage-Illustration@2000x.png);
}

.login-container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.logo-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    max-width: 100%;
    height: auto;
}

.login-form-container {
    background-color: #eae8e8be;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
    border: 2px solid #87a0b4a7;
    border-radius: 20px;
    border-width: 5px;
    border-top-left-radius: 50px;
}

.login-form-container h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.login-form-container form div {
    margin-bottom: 50px;
}

.login-form-container form label {
    display: grid;
    margin-bottom: 5px;
}

.login-form-container form input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-form-container form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-form-container form button:hover {
    background-color: #9bb5d2;
}

.cadastro-link {
    margin-top: 20px;
}

.cadastro-link button {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
}

.cadastro-link button:hover {
    color: #0056b3;
}