@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@* sidebar *@
<div class="sidebar">
	<nav class="nav flex-column">
		<a class="nav-link" asp-action="/admin/administrativo">
			<span class="icon">
				<i class="bi bi-grid"></i>
			</span>
			<span class="description">Dashboards</span>
		</a>
		<a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#submenu" aria-expanded="false" aria-controls="submenu">
			<span class="icon">
				<i class="bi bi-pencil-square"></i>
			</span>
			<span class="description">Cadastros <i class="bi bi-caret-down-fill"></i></span>
		</a>
		<div class="sub-menu collapse" id="submenu">
			<a class="nav-link" asp-page="/account/cadastrar">
				<span class="icon">
					<i class="bi bi-person"></i>
				</span>
				<span class="description">Usuários</span>
			</a>
			<a class="nav-link" href="#">
				<span class="icon">
					<i class="bi bi-building-add"></i>
				</span>
				<span class="description">Empresas</span>
			</a>
			<a class="nav-link" href="#">
				<span class="icon">
					<i class="bi bi-person-plus"></i>
				</span>
				<span class="description">Funcionários</span>
			</a>
		</div>
		<a class="nav-link" href="#">
			<span class="icon">
				<i class="bi bi-bell"></i>
			</span>
			<span class="description">Notificações</span>
		</a>
		<a class="nav-link" href="#">
			<span class="icon">
				<i class="bi bi-gear"></i>
			</span>
			<span class="description">Configurações</span>
		</a>
	</nav>
</div>