@page
@model CadastrarModel
@{
    ViewData["Title"] = "Cadastro";
    Layout = "_CadastroLayout";
}

<div class="container">
    <div class="border border-1 border-info rounded-2 m-4 p-4">
        <form method="post">
            <div class="row g-5 justify-content-center">
                <div class="col-md-5">
                    <label asp-for="Requisicao.NOME" class="form-label"></label>
                    <input asp-for="Requisicao.NOME" class="form-control form-control-lg" />
                    <span asp-validation-for="Requisicao.NOME" class="text-danger"></span>
                </div>
                <div class="col-md-5">
                    <label asp-for="Requisicao.SOBRENOME" class="form-label"></label>
                    <input asp-for="Requisicao.SOBRENOME" class="form-control form-control-lg" />
                    <span asp-validation-for="Requisicao.SOBRENOME" class="text-danger"></span>
                </div>
            </div>

            <div class="mt-4 text-center">
                <button type="submit" class="btn btn-primary btn-lg">Cadastrar</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
    