@page
@model IndexModel
@{
    ViewData["Title"] = "Principal";
}

<div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
    <h1 class="display-4">Bem-vindo ao <span class="font-monospace">InovarJunto!</span></h1>
</div>