.btn-login {
    background-color: #6366F1;
    color: #ffffff;
    border: none;
}
.btn-login:hover {
    background-color: #4f46e5;
    color: #ffffff;
}

.btn-register {
    background-color: #10B981; /* Verde */
    color: #ffffff;
    border: none;
}

.btn-register:hover {
    background-color: #059669; /* Verde mais escuro */
    color: #ffffff;
}

.sidebar {
    position: fixed;
    margin-top: 59px;
    bottom: 59px;
    top: 0;
    left: 0;
    width: 200px;
    padding-top: 20px;
    background-color: var(--bs-dark);
    transition: width 0.3s;
}

.sidebar .nav-link {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    color: white;
}

.sidebar .description {
    font-size: 14px;
}

.sidebar .nav-link:hover {
    background-color: lightgray;
}

.sidebar .sub-menu {
    background-color: dimgray;
    padding-left: 3%;
}

.main-content {
    height: 100%;
    margin-left: 200px;
    padding: 20px;
}

@media(max-width: 480px) {
    .sidebar {
        width: 60px;
    }

    .sidebar .description {
        display: none;
    }
    
    .sidebar .nav-link {
        justify-content: center;
    }

    .main-content {
        margin-left: 60px;
    }
}

.input-validation-error {
    border-color: var(--bs-danger);
}

.input-validation-error:focus {
    box-shadow: 0 0 0 .25rem rgba(220, 53, 69, .25);
}

input:not(.input-validation-error):not(:placeholder-shown) {
    border-color: var(--bs-success);
}

input:not(.input-validation-error):not(:placeholder-shown):focus {
    box-shadow: 0 0 0 .25rem rgba(25, 135, 84, .25);
}