html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

footer {
    margin-top: auto !important;
    flex-shrink: 0;
}

.container-fluid:last-child {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}
